@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cairo:wght@200..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

p {
    font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fraunces", serif;
}

.main-container {
    width: 1280px;
    max-width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .main-container {
        width: 704px;
    }
}

@media screen and (max-width: 767px) {
    .main-container {
        width: 343px;
    }
}

header {
    width: 100%;
    margin: 0 auto;

    .main-container {
        display: flex;
        width: 1280px;
        max-width: 90%;
        justify-content: space-between;
        padding-top: 40px;

        .logo img {
            width: 236px;

            @media screen and (max-width: 767px) {
                width: 160px;
            }
        }

        .burger_icon {
            display: none;
        }

        @media screen and (max-width: 767px) {
            .burger_icon {
                display: block;
            }
        }

        nav {

            ul {
                display: flex;
                list-style: none;
                gap: 33px;

                li {
                    a {
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 130%;
                        letter-spacing: 0.92px;
                        text-transform: uppercase;
                        color: #83888F;
                        text-decoration: none;

                        &:hover {
                            color: #333D4B;
                        }

                        &:focus {
                            border-radius: 4px;
                            border: 266px solid #0E8784;
                            color: #333D4B;
                        }
                    }
                }

                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
}


.hero {
    width: 100%;
    margin: 0 auto;

    .main-container {
        display: flex;
        justify-content: start;
        align-items: center;
        border-radius: 10px;
        height: 548px;
        margin-top: 40px;
        position: relative;
        width: 1280px;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 10px;
        }

        .info {
            width: 493px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 80px;
            gap: 20px;

            @media screen and (max-width: 992px) {
                width: 420px;
                height: 312px;
                gap: 20px;
                margin-left: 48px;
            }

            @media screen and (max-width: 767px) {
                width: 295px;
                height: 314px;
                align-items: center;
                text-align: center;
                margin-left: 0;
            }

            h1 {
                font-weight: 900;
                font-size: 64px;
                color: #FEFCF7;

                @media screen and (max-width: 992px) {
                    font-size: 48px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 40px;
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0px;
                color: #FEFCF7;
                opacity: 0.8;
                text-align: left;

                @media screen and (max-width: 767px) {
                    font-size: 14px;
                    text-align: center;
                }
            }

            button {
                width: 218px;
                height: 57px;
                gap: 12px;
                border-radius: 6px;
                padding-top: 16px;
                padding-right: 32px;
                padding-bottom: 16px;
                padding-left: 32px;
                background-color: #0E8784;
                color: #FEFCF7;
                border: none;
            }
        }

        @media screen and (max-width: 767px) {
            justify-content: center;
        }
    }

    @media screen and (max-width: 992px) {
        height: 504px;
    }
}

.our-collection {
    .our-collection-container {
        width: 1100px;
        max-width: 100%;
        position: relative;
        margin-top: 128px;

        @media screen and (max-width: 992px) {
            width: 704px;
            max-width: 100%;
            margin-top: 40px;
        }

        @media screen and (max-width: 767px) {
            width: 343px;
            margin-top: 40px;
        }

        .collection-header {
            width: 100%;
            font-weight: 900;
            font-size: 182px;
            text-align: center;
            position: absolute;
            top: -28%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            text-transform: lowercase;
            color: #83888F;

            @media screen and (max-width: 992px) {
                font-weight: 900;
                font-size: 112px;
                text-align: center;
                top: -6%;
            }

            @media screen and (max-width: 767px) {
                font-weight: 900;
                font-size: 40px;
                text-align: center;
                top: -2%;
            }
        }

        .collection-header::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
        }

        .collection-items {
            gap: 28px;
            width: 1110px;
            max-width: 100%;

            @media screen and (max-width: 992px) {
                flex-direction: column;
                width: 704px;
                gap: 24px;
            }

            @media screen and (max-width: 767px) {
                width: 343px;
                gap: 32px;
            }

            .collection-item {
                width: 253.5px;
                max-width: 100%;

                @media screen and (max-width: 992px) {
                    width: 704px;
                    gap: 32px;
                }

                @media screen and (max-width: 767px) {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 343px;
                    gap: 24px;
                }

                .info {
                    width: 253.5px;

                    h3 {
                        font-weight: 900;
                        font-size: 24px;
                        line-height: 150%;
                        color: #333D4B;
                        text-align: center;

                        @media screen and (max-width: 767px) {
                            text-align: center;
                        }
                    }

                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 160%;
                        letter-spacing: 0px;
                        text-align: center;
                        color: #333D4B;

                        @media screen and (max-width: 767px) {
                            text-align: center;
                        }
                    }
                }

            }
        }
    }
}

.why-us {
    .main-container {
        width: 1280px;
        padding-top: 96px;
        gap: 64px;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 96px;

        .cover {
            width: 100%;
            height: 577px;
            background: rgba(51, 61, 75, 1);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .text {
            width: 540px;
            gap: 32px;
            text-align: center;

            h3 {
                font-weight: 900;
                font-size: 40px;
                line-height: 120%;
                text-align: center;
                color: rgba(254, 252, 247, 1);
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0px;
                text-align: center;
                color: #333D4B;
                color: rgba(254, 252, 247, 1);
            }

            @media screen and (max-width: 992px) {
                width: 540px;
                gap: 32px;
            }

            @media screen and (max-width: 767px) {
                width: 343px;
                padding-right: 16px;
                padding-left: 16px;
                gap: 32px;
            }
        }


        .benefits {
            width: 87%;
            gap: 32px;

            @media screen and (max-width: 992px) {
                width: 573px;
                gap: 24px;
            }

            @media screen and (max-width: 767px) {
                width: 280px;
                gap: 24px;
            }


            .benefit {
                width: calc(100% / 3);
                height: 320px;
                padding-top: 48px;
                padding-right: 32px;
                padding-bottom: 48px;
                padding-left: 32px;
                gap: 48px;
                border-radius: 8px;
                background-color: #0E8784;
                color: #FEFCF7;
                display: flex;
                flex-direction: column;
                align-items: center;

                @media screen and (max-width: 992px) {
                    width: 100%;
                    height: auto;
                }

                @media screen and (max-width: 767px) {
                    width: 280px;
                    gap: 24px;
                }

                img {
                    width: 70.99980926513672px;
                    height: 71.9998779296875px;
                }

                .info {
                    gap: 12px;

                    h4 {
                        font-weight: 900;
                        font-size: 24px;
                        line-height: 150%;
                        text-align: center;
                    }

                    p {
                        width: 285px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 160%;
                        text-align: center;
                        color: rgba(254, 252, 247, 1);


                        @media screen and (max-width: 992px) {
                            width: 369px;
                        }

                        @media screen and (max-width: 767px) {
                            width: 240px;
                            height: 78px;
                        }
                    }
                }


            }
        }
    }
}