@import url('../style.css');

:root {
    --primary-color: #0E8784;
    --secondary-color: #FEFCF7;
    --text-color: #333D4B;
    --text-color-2: #83888F;
    --colors-neutral-50: rgba(254, 252, 247, 1);
}

.about-us {
    margin-top: 40px;
    
    .main-container {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        border-radius: 10px;
        height: 548px;
        margin-top: 40px;

        @media screen and (max-width: 992px) {
            justify-content: center;
        }

        @media screen and (max-width: 767px) {
            justify-content: center;
        }

        .layer {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 10px;
        }

        .info {
            width: 493px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 80px;
            gap: 20px;
            z-index: 1;

            @media screen and (max-width: 992px) {
                width: 420px;
                height: 312px;
                gap: 20px;
                margin-left: 48px;
            }

            @media screen and (max-width: 767px) {
                width: 295px;
                height: 314px;
                align-items: center;
                text-align: center;
                margin-left: 0;
            }

            h1 {
                font-weight: 900;
                font-size: 64px;
                color: #FEFCF7;

                @media screen and (max-width: 992px) {
                    font-size: 48px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 40px;
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0px;
                color: #FEFCF7;
                opacity: 0.8;
                text-align: left;

                @media screen and (max-width: 767px) {
                    font-size: 14px;
                    text-align: center;
                }
            }
        }

    }
}

.our-commitment {
    margin-top: 140px;

    .commit-container {
        width: 1110px;
        height: 520px;
        gap: 125px;
        
        @media screen and (max-width: 992px) {
            width: 704px;
            height: 520px;
            gap: 48px;
        }

        @media screen and (max-width: 767px) {
            width: 343px;
            height: 892px;
            gap: 48px;
        }

        .image {
            width: 445px;
            height: 520px;
            flex-shrink: 0;
            
            @media screen and (max-width: 992px) {
                width: 280px;
                height: 520px;
            }

            @media screen and (max-width: 767px) {
                width: 343px;
                height: 400px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.quality {
    margin-top: 228px;
    
    @media screen and (max-width: 992px) {
        margin-top: 320px;
    }
    
    @media screen and (max-width: 767px) {
        margin-top: 162px;
    }
    
    .main-container {
        width: 1280px;
        position: relative;
        background-color: var(--text-color);
        color: var(--secondary-color);
        border-radius: 10px;

        @media screen and (max-width: 992px) {
            width: 704px;
        }

        @media screen and (max-width: 767px) {
            width: 343px;
        }

        .info {
            margin: 112px 660px 112px 80px;
            width: 540px;
            height: 210px;
            gap: 32px;

            @media screen and (max-width: 992px) {
                width: 540px;
                height: 195px;
                gap: 20px;
                margin: 140px 79px 64px 85px;
            }

            @media screen and (max-width: 767px) {
                width: 303px;
                height: 356px;
                gap: 32px;
                margin: 112px 20px 40px 20px;
            }

            h2 {
                font-weight: 900;
                font-size: 40px;
                line-height: 120%;
                letter-spacing: 0px;
                color: var(--secondary-color);

                @media screen and (max-width: 767px) {
                    font-size: 32px;
                    line-height: 140%;
                }

                @media screen and (max-width: 992px) {
                    font-size: 32px;
                    line-height: 140%;
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: var(--colors-neutral-50);
            }
        }
        
        img {
            flex-shrink: 0;
            width: 445px;
            height: 474px;
            object-fit: cover;
            position: absolute;
            top: -88px;
            left: 750px;
            border-radius: 8px;

            @media screen and (max-width: 992px) {
                width: 573px;
                height: 300px;
                top: -224px;
                left: 66px;
            }

            @media screen and (max-width: 767px) {
                width: 280px;
                height: 156px;
                top: -82px;
                left: 32px;
            }
        }
    }
}