@import url('../style.css');

.about-us {
    margin-top: 40px;
    
    .main-container {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        border-radius: 10px;
        height: 548px;
        margin-top: 40px;

        @media screen and (max-width: 992px) {
            justify-content: center;
        }

        @media screen and (max-width: 767px) {
            justify-content: center;
        }

        .layer {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 10px;
        }

        .info {
            width: 493px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 80px;
            gap: 20px;
            z-index: 1;

            @media screen and (max-width: 992px) {
                width: 420px;
                height: 312px;
                gap: 20px;
                margin-left: 48px;
            }

            @media screen and (max-width: 767px) {
                width: 295px;
                height: 314px;
                align-items: center;
                text-align: center;
                margin-left: 0;
            }

            h1 {
                font-weight: 900;
                font-size: 64px;
                color: #FEFCF7;

                @media screen and (max-width: 992px) {
                    font-size: 48px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 40px;
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0px;
                color: #FEFCF7;
                opacity: 0.8;
                text-align: left;

                @media screen and (max-width: 767px) {
                    font-size: 14px;
                    text-align: center;
                }
            }
        }

    }
}

.our-commitment {
    margin-top: 140px;

    .commit-container {
        width: 1110px;
        height: 520px;
        gap: 125px;
        
        @media screen and (max-width: 992px) {
            width: 704px;
            height: 520px;
            gap: 48px;
        }

        @media screen and (max-width: 767px) {
            width: 343px;
            height: 892px;
            gap: 48px;
        }

        .image {
            width: 445px;
            height: 520px;
            flex-shrink: 0;
            
            @media screen and (max-width: 992px) {
                width: 280px;
                height: 520px;
            }

            @media screen and (max-width: 767px) {
                width: 343px;
                height: 400px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}